@media (max-width: 768px) {
// html{
//     // scroll-snap-type: y mandatory;
//     // scroll-behavior: smooth;
// }
#Skills {
    display: none;
}

* {
    padding: 0;
    margin: 0;
    font-family: "Open Sans" sans-serif;
}

body{
    background-color: #fff;
    color: lightgray
}

a{
    text-decoration: none;
    color: inherit;
}

// section{
//     height: 100vh;
//     scroll-snap-align: center;
// }
}

@media (min-width: 769px) {
    html {
        scroll-snap-type: y mandatory;
        scroll-behavior: smooth;
    }

    * {
        padding: 0;
        margin: 0;
        font-family: "Open Sans" sans-serif;
    }

    body {
        background-color: #fff;
        color: lightgray
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    section {
        height: 100vh;
        scroll-snap-align: center;
    }

    
}